.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  /* margin-bottom: 15px; */
  justify-items: center;
}

.card {
  height: 300px;
  width: 300px;

}

.orderbtn {
  background-color: rgb(87, 163, 214);
  width: 80px;
  height: 60px;
  border-radius: 10px;
  margin-left: 160px;
  margin-bottom: 20px;

}

.orderbtn:hover {
  box-shadow: 5px 5px 5px #201f0c;
}

.grid__item:hover {

  box-shadow: 10px 10px 10px #201f0c;
}